# В проде использовать путь /home/${{USER}}/env/next-alpforce-site/

# Серкрет для Next Auth
AUTH_SECRET="AUTH_SECRET"

# Telegram API
TELEGRAM_BOT_TOKEN = "TELEGRAM_BOT_TOKEN"
TELEGRAM_CHAT_ID = TELEGRAM_CHAT_ID